@{
    ViewBag.Title = "連絡我們";
}
<h2>@ViewBag.Title.</h2>

<address>
    國立高雄應用科技大學<br />
    824 高雄市燕巢區深中路58號<br />
    Yanchao Campus No.58 ,Shenzhong Rd., Yanchao Dist., Kaohsiung City 824, Taiwan, R.O.C. <br />
    Tel：+886-7-3949990<br />
</address>

<address>
    <strong>1101137214 陳玠任:</strong> <a href="mailto:1101137214@gm.kuas.edu.tw">1101137214@gm.kuas.edu.tw</a><br />
    <strong>1101137202 謝韶華:</strong> <a href="mailto:1101137202@gm.kuas.edu.tw">1101137202@gm.kuas.edu.tw</a>
</address>